@import "../../../../../../vars.less";

.book-cover {
  display: inline-block;
  margin-right: 10px;
  min-width: 30vh;
  height: calc((100vh - @menuHeight - 56px) / 2);
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Обрізає контент, що виходить за межі блоку */

  .ant-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Зберігає пропорції зображення */
  }
}