@import "../../../../../../vars.less";

@width: 43vw;
@height: 35vh;

.book-cover {
  width: @width;
  height: @height;
  overflow: hidden; /* Обрізає контент, що виходить за межі блоку */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Овальна тінь */

  .ant-image {
    width: @width;
    height: @height;
    object-fit: cover; /* Зберігає пропорції зображення */
  }
}