@import "../../../../vars.less";

.book-info {
  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(to top, #ebebeb, #ffffff) no-repeat fixed center;
    background-size: cover;
    overflow: hidden;

    &__arrow-back {
      color: #a5a5a5;
      display: flex;
      justify-content: center;
      font-size: 25px;
      position: absolute;
      height: 74px;
      padding-left: @defaultWidthPadding;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    &__image > div {
      width: 27vh;
      height: 40vh;
      overflow: hidden; /* Обрізає контент, що виходить за межі блоку */
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Овальна тінь */
      object-fit: cover; /* Зберігає пропорції зображення */
    }
  }

  &__metadata {
    z-index: 20;
    position: relative;
    background-color: white;
    padding-top: 20px;
    padding-left: @defaultWidthPadding;
    padding-right: @defaultWidthPadding;
  }

  .hr-text {
    border: 0;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 12px;

    &::before {
      content: "";
      background: linear-gradient(to right, transparent, @brandGreyDarkColor, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }

    &::after {
      content: attr(data-content);
      position: relative;
      padding: 0 7px;
      line-height: 1.5em;
      color: black;
      background-color: white;
    }
  }

  &__short-info {
    text-align: center;
    margin-bottom: 10px;

    &__title {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      font-family: @brandFontFamily;
    }

    &__subtitle {
      font-family: @brandFontFamily;
    }
  }

  &__description {
    font-family: @brandFontFamily;
    margin-top: 10px;
    margin-bottom: 50px;
    text-indent: 2em;
  }

  .play-button {
    font-family: @brandFontFamily;
    position: fixed;
    bottom: 1px;
    left: 0;
    width: 100%;
    z-index: 200;

    &__progress {
      bottom: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }

    &__play {
      bottom: -1px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;

      .ant-btn {
        border-radius: 50px;
        height: 54px;
        width: 54px;
        font-size: 54px;
      }
    }
  }
}
