@import "../../../../vars.less";

.book-info {
  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #ebebeb, #ffffff);
    height: 45vh;

    div {
      width: 25vh;
      height: 36vh;
      overflow: hidden; /* Обрізає контент, що виходить за межі блоку */
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Овальна тінь */
      object-fit: cover; /* Зберігає пропорції зображення */
    }
  }

  &__short-info {
    text-align: center;
    margin-bottom: 10px;

    &__title {
      margin-bottom: 0 !important;
      font-family: @brandFontFamily;
    }

    &__subtitle {
      font-family: @brandFontFamily;
    }
  }

  &__description {
    font-family: @brandFontFamily;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 10px;
    text-indent: 2em;
  }

  &__progress {
    display: flex;
    justify-content: center;

    .ant-progress-bg {
      background-color: @brandYellowColor;
    }
  }

  &__progress-action {
    font-family: @brandFontFamily;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Забезпечує, що кнопка буде поверх інших елементів */

    .ant-btn {
      border-radius: 8px 8px 0 0;
    }
  }

  .divider {
    border-top: 1px solid #c3c3c3;
  }
}

