@import "../../../../vars.less";

.menu {
  height: @menuHeight;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 @defaultWidthPadding;

  &__button {
    display: flex;
    height: @menuHeight;
    color: @brandGreyDarkColor;
    font-size: 24px;
  }
}