@import "vars.less";

body {
  margin: 0;
}

.m {
  &-10 {
    margin: 10px;
  }

  &b-10 {
    margin-bottom: 10px;
  }

  &t-10 {
    margin-top: 10px;
  }

  &l-10 {
    margin-left: 10px;
  }

  &r-10 {
    margin-right: 10px;
  }

  &-20 {
    margin: 20px;
  }

  &b-20 {
    margin-bottom: 20px;
  }

  &t-20 {
    margin-top: 20px;
  }

  &l-20 {
    margin-left: 20px;
  }

  &r-20 {
    margin-right: 20px;
  }
}

.p {
  &-10 {
    padding: 10px;
  }

  &b-10 {
    padding-bottom: 10px;
  }

  &t-10 {
    padding-top: 10px;
  }

  &l-10 {
    padding-left: 10px;
  }

  &r-10 {
    padding-right: 10px;
  }

  &-20 {
    padding: 20px;
  }

  &b-20 {
    padding-bottom: 20px;
  }

  &t-20 {
    padding-top: 20px;
  }

  &l-20 {
    padding-left: 20px;
  }

  &r-20 {
    padding-right: 20px;
  }
}

.fs {
  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-16 {
    font-size: 16px;
  }

  &-18 {
    font-size: 18px;
  }

  &-20 {
    font-size: 20px;
  }

  &-22 {
    font-size: 22px;
  }

  &-24 {
    font-size: 24px;
  }
}

.hidden {
  display: none;
}
