@import "../../../../../../vars.less";

.karaoke-sentence {
  color: black;
  text-align: justify;
  font-family: @brandFontFamily;

  .next-word {
    color: gray;
  }

  &_paragraph {
    text-indent: 2em;
  }
}
