@import "../../../../../../vars.less";

.tiktok-sentence {
  color: gray;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;

  &::after {
    content: '';
    flex-grow: 1;
  }

  .paragraph {
    width: 20px;
  }

  .prev-word {
    color: black;
  }

  .active-word {
    background-color: black;
    color: white;
  }

  .next-word {
    color: gray;
  }
}
